body {
    /* Gradiente de fundo para o body */
    background: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

/*................................................................NavBar...................................................*/
nav {
    /* Navegação  do menu principal*/
    background: rgb(95, 95, 95);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    margin-bottom: 90px;

}

nav .links a {
    /* TEXTOS da navegação */
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    color: white;
    margin: 25px;
    position: relative;
    padding: 10px;
}

nav .links a::after {
    /* EFEITO DE TRANSCIÇÃO JUNTO COM HOVER*/
    content: " ";
    width: 0;
    height: 4px;
    position: absolute;
    background-color: white;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease-in-out;
}

nav .links a:hover {
    color: rgb(218, 217, 217);
}

nav .links a:hover:after {
    width: 100%;
}

nav .logo img {
    /* LogoTIPO */
    height: 70px;
    width: 125px;
    background: none;
    display: block;
}

nav .icon-links {
    display: flex;
    gap: 20px;
    /* Adiciona espaçamento entre os ícones */
    justify-content: flex-end;
    /* Alinha os ícones à direita */
    align-items: center;
    /* Alinha verticalmente os ícones */
    padding-right: 20px;
}

nav .icon-links a {
    color: white;
}

nav .icon-links a:hover {
    color: gray;
}


/*..............................................CAIXA DE BUSCA (PROJETO FUTURO)...............................................*/
.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem;
    border-radius: 30px;
    width: 20em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__input:focus+.search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}

/*.............................................login................................................................*/

/* Contêiner para centralizar o formulário */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1rem;
}

/* Aba de Seleção */
.form-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.tab-button {
    background-color: #707070;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem; /* Ajustado para menor */
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
    font-weight: bold;
    font-size: 0.9rem; /* Ajustado para menor */
    margin: 0 0.5rem; /* Espaçamento entre os botões */
}

.tab-button.active {
    background-color: black;
    color: white;
}

.tab-button:hover {
    background-color: black;
    color: #707070;
}

/* Contêiner para mostrar o formulário */
.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Box menor */
    position: relative;
}

/* Formulário */
.form {
    display: none;
    opacity: 0;
    transition: opacity 300ms ease;
    width: 100%;
}

.form.active {
    display: flex;
    opacity: 1;
    flex-direction: column;
    gap: 1rem; /* Espaçamento entre os itens do formulário */
}

.input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-span + .input-span {
    margin-top: 0.75rem; /* Espaço entre os campos */
}

.name-surname {
    display: flex;
    gap: 1rem; /* Espaçamento entre Nome e Sobrenome */
    width: 100%;
    margin: 10px 0; /* Adiciona margem superior e inferior para alinhar com os outros campos */
}
#register-first-name,
#register-last-name {
    width: 180px; /* Ajusta a largura para que os campos se alinhem corretamente */
}

.name-surname .input-span {
    flex: 1;
    margin: 0; /* Remove a margem padrão dos campos dentro de .name-surname */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-surname .input-span input {
    border-radius: 0.5rem;
    padding: 0.75rem;
    width: 100%;
    border: none;
    background: red;
    background-color: rgba(156, 156, 156, 0.375);
    outline: 2px solid #707070;
    font-family: 'Roboto', sans-serif;
}

.input-span input[type="text"],
.input-span input[type="email"],
.input-span input[type="password"],
.input-span input[type="submit"] {
    border-radius: 0.5rem;
    padding: 0.75rem;
    width: 100%; /* Ajusta a largura para 100% do contêiner pai */
    border: none;
    background-color: rgba(156, 156, 156, 0.375);
    color: black;
    font-weight: bold;
    font-size: 18px;
    outline: 2px solid #707070;
    font-family: 'Roboto', sans-serif;
}

.input-span input[type="email"]:focus,
.input-span input[type="password"]:focus {
    outline: 2px solid black;
    font-weight: bold;
}

.label {
    color: black;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.form .submit {
    padding: 0.75rem;
    width: 100%;
    border-radius: 3rem;
    background-color: #707070;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.form .submit:hover {
    background-color: black;
    color: #707070;
}

.center-text {
    text-align: center;
}

.span {
    color: gray;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem; /* Espaço acima dos links */
}

.span a {
    color: black;
    text-decoration: none;
}

.span a:hover {
    text-decoration: underline;
}


/*.................................................................footer...............................................*/
/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
    margin-top: auto;
    /* Isso garante que o footer fique sempre na parte inferior */
}

/* Estilos adicionais */
.container-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-section {
    text-align: center;
    margin-bottom: 20px;
    height: 50px;
}

.logo-footer {
    width: 120px;
    height: auto;
}

.row3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style-type: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li:hover {
    color: gray;
    cursor: pointer;
}

.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 10px;
}

.playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}

.texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-2 {
    font-weight: 600;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}

.social-icon:hover {
    filter: none;
    transform: scale(1.1);
}